body {
  font-family: "Montserrat", sans-serif;
  color: #fff;
  background: #1d976c;
}

a {
  color: #fff;
}

a:hover {
  text-decoration: none;
  color: #fff;
}

a:visited {
  color: #fff;
}

span > a:hover {
  color: #eee;
  animation: bounce 1s;
}

h1 {
  font-weight: bold;
  font-size: 50px;
  padding-top: 50px;
  text-align: center;
}

p {
  font-size: 20px;
  margin-bottom: 30px;
}

/* Profile picture */
.profile-img {
  width: 200px;
  height: 200px;
  display: block;
  margin: 0 auto;
  border-radius: 50%;
  border: 3px solid #fff;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.resume {
  font-size: 20px;
  border: 2px solid #fff;
  border-radius: 5px;
  padding: 4px 5px;
  width: 160px;
  margin: 0 auto;
  text-align: center;
  display: block;
}

.resume:hover {
  border: 2px solid #eee;
}

.row {
  margin-top: 130px;
  margin-bottom: 60px;
}

i {
  font-size: 23px;
  margin-right: 10px;
  margin-left: 22px;
  margin-top: 17px;
  cursor: pointer;
  align-self: center;
}

span {
  display: flex;
  margin: auto;
  justify-content: center;
}

.svg {
  height: 50px;
  width: 50px;
  margin-left: 3px;
}

.svg2 {
  height: 25px;
  width: 25px;
}

/* Navbar styles */
.header {
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.25);
}

.navbar-light .navbar-nav .nav-link {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #fff;
}

.navbar-light .navbar-nav .nav-link.active {
  color: #fff;
}

.navbar-light .navbar-nav .nav-link.active:after {
  content: "";
  display: block;
  width: 0;
  height: 1px;
  background: #fff;
  width: 100%;
}

.nav-item::after {
  content: "";
  display: block;
  width: 0;
  height: 1px;
  background: #fff;
  transition: width 0.3s;
}

.nav-item:hover::after {
  width: 100%;
}

/* Hamburger toggle animation */
.icon-bar {
  width: 22px;
  height: 2px;
  background-color: #fff;
  display: block;
  transition: all 0.2s;
  margin-top: 4px;
}

.navbar-toggler {
  margin-right: 10px;
  border: none;
  background: transparent !important;
}

.navbar-toggler:focus {
  outline: 0;
}

.navbar-toggler .top-bar {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
}

.navbar-toggler .middle-bar {
  opacity: 0;
}

.navbar-toggler .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 10% 90%;
}

.navbar-toggler.collapsed .top-bar {
  transform: rotate(0);
}

.navbar-toggler.collapsed .middle-bar {
  opacity: 1;
}

.navbar-toggler.collapsed .bottom-bar {
  transform: rotate(0);
}

/* Landing Page Animation */
#flip {
  height: 70px;
  overflow: hidden;
  font-weight: bold;
  font-size: 50px;
  text-align: center;
}

#flip > div > div {
  color: #fff;
  padding: 0 10px 5px;
  display: inline-block;
  height: 85px;
}

#flip div:first-child {
  animation: show 5s linear infinite;
}

@keyframes show {
  0% {
    margin-top: -270px;
  }
  5% {
    margin-top: -180px;
  }
  33% {
    margin-top: -180px;
  }
  38% {
    margin-top: -90px;
  }
  66% {
    margin-top: -90px;
  }
  71% {
    margin-top: 0px;
  }
  99.99% {
    margin-top: 0px;
  }
  100% {
    margin-top: -270px;
  }
}

/* Media Query */
@media (max-width: 450px) {
  h1 {
    font-size: 20px;
  }

  #flip > div > div {
    height: 25px;
    font-size: 25px;
  }

  .row {
    margin-top: 20px;
    margin-bottom: 30px;
  }

  .col-sm-7 {
    margin-top: 40px;
  }
}

@media (max-width: 576px) {
  h1 {
    font-size: 30px;
  }

  p,
  .resume {
    font-size: 14px;
    text-align: center;
  }

  i {
    font-size: 18px;
  }

  .resume {
    margin-top: 20px;
  }

  .profile-img {
    width: 150px;
    height: 150px;
  }

  #flip {
    font-size: 30px;
    height: 90px;
  }

  #flip > div > div {
    height: 100px;
    padding: 0 10px;
  }

  #flip div:second-child div {
    margin-bottom: 5px;
  }

  .svg {
    height: 40px;
    width: 40px;
  }

  .svg2 {
    height: 18px;
    width: 18px;
  }
}

@media (min-width: 577px) and (max-width: 991px) {
  p,
  .resume {
    font-size: 18px;
  }

  i {
    font-size: 1.3rem;
  }

  .resume {
    width: 50%;
  }

  .profile-img {
    width: 170px;
    height: 170px;
  }

  h1 {
    font-size: 40px;
  }

  #flip {
    font-size: 40px;
    height: 55px;
  }

  .svg {
    height: 40px;
    width: 40px;
  }
}

@media (max-width: 992px) {
  .navbar-light .navbar-nav .nav-link {
    padding-left: 10px;
  }

  .navbar-light .navbar-nav .nav-link.active:after {
    width: 80px;
  }

  .nav-item:hover::after {
    width: 80px;
  }
}
